// body
//   background-color #333333

.header-logo{
  // margin-left: 5rem;
}

.navbar-list{
  // margin-right: 7rem;
}

span.line{
  background-color: #333;
}

.wrapper
  background-color #fafafa

.navbar-content{
  width: 100%;
}

img{
  // width: 440px;
  // height: 250px;
  max-width 100%
  // margin-right: 2rem;
  text-align: center;
}

.navbar-item
    font-size: 0.8rem
    letter-spacing: 0.3px
    &:hover
      text-decoration: underline









